{% extends "base_dashboard.html" %}
{% block content %}
<div class="container mt-4">
    <h4>Sent Messages</h4>
    <hr>
    {% if messages_sent %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipient</th>
                    <th>Subject</th>
                    <th>Sent At</th>
                </tr>
            </thead>
            <tbody>
            {% for msg in messages_sent %}
                <tr>
                    <td>{{ msg.recipient.username }}</td>
                    <td>
                        <a href="{% url 'message_detail' msg.id %}">
                            {{ msg.subject }}
                        </a>
                    </td>
                    <td>{{ msg.timestamp|date:"Y-m-d H:i" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You haven’t sent any messages yet.</p>
    {% endif %}
</div>
{% endblock %}
